.shortcuts {
  opacity: 0.35;
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: -5px;
}

.footer {
  opacity: 0.15;
  font-size: 0.75em;
}

.title {
  text-shadow: 1px 1px 2px black,
    0 0 1em black,
    0 0 0.2em black;
}

.progressBarContainer {
  width: 500px;
  margin: auto;
  margin-top: 15px;
}

.progressBar {
  height: 10px;
  background: #ddd;
}

.displayBox {
  position: relative;
  margin: 40px auto; 
  width: 500px; 
  height: 120px; 
  border-top: 3px solid rgba(0, 0, 0, 0.35); 
  border-bottom: 3px solid rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.15) 0%, rgba(255, 0, 0, 0) 40%, rgba(255, 0, 0, 0) 60%, rgba(0, 0, 0, 0.15) 100%), linear-gradient(90deg,rgba(0, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 15%, rgba(255, 0, 0, 0) 85%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  mask: linear-gradient(90deg,rgba(0, 0, 0, 0.1) 0%, rgba(255, 0, 0, 1) 20%, rgba(255, 0, 0, 1) 80%, rgba(0, 0, 0, 0.1) 100%);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  margin-top: 10px;
  margin-bottom: 15px;
  p {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 6px;
    box-shadow: 1px 1px 19px 0px rgba(0,0,0,0.3) inset;
  }
}

.customButton {
  display: inline-block;
  padding: 10px 18px;
  background: #3a3939;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}

.customButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.break {
  font-size: 1.5em;
  color: #92929265;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #31302f;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(32, 28, 17, 0.8) 0 2px 4px,rgba(36, 29, 19, 0.6) 0 7px 13px -3px,#181817 0 -3px 0 inset;
  box-sizing: border-box;
  color: #dfdfdf;
  cursor: pointer;
  display: inline-flex;
  font-family: Courier, monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  a {
    text-decoration: none;
    color: #dfdfdf;
    :active {
      color: #dfdfdf;
    }
    :hover {
      color: #dfdfdf;
    }
    :focus {
      color: #dfdfdf;
    }
  }
}

.button-30:focus {
  box-shadow: #0f0f0e 0 0 0 1.5px inset, rgba(19, 15, 12, 0.9) 0 2px 4px, rgba(22, 17, 13, 1) 0 7px 13px -3px, #111110 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(15, 13, 10, 0.4) 0 14px 18px, rgba(24, 19, 13, 0.4) 0 7px 13px -3px, #0f0e0d 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #2c2b2a 0 3px 7px inset;
  transform: translateY(2px);
}